<?xml version="1.0"?>
<!--
    注意: 除了手动编辑此文件以外， 
    还可以使用 Web 管理工具来配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="EnableCaching" value="false"/>
    <add key="MessageServiceAddress" value="net.tcp://127.0.0.1:22222/Message"/>
    <add key="UserBussinessDataBackPath" value="D:\Data_Bak\"/>
    <add key="ErpManagerServerFilesPath" value="D:\"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ZNLCRM.Server.Adapter">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <!--<behavior name="ZNLCRM.Server.MessageBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentSessions="10000"/>
        </behavior>-->
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <!--<netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>-->
      <customBinding>
        <binding name="customBinding">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
      <basicHttpBinding>
        <binding name="basicBinding" sendTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647" maxBufferPoolSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxDepth="64"/>
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="ZNLCRM.Server.Adapter" name="ZNLCRM.Server.Adapter">
        <endpoint binding="basicHttpBinding" bindingConfiguration="basicBinding"
          contract="ZNLCRM.Server.IService.IAdapter" />
      </service>
      <!--<service behaviorConfiguration="ZNLCRM.Server.MessageBehavior" name="ZNLCRM.Server.Message">
        <endpoint binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="ZNLCRM.Server.IMessage"/>
      </service>-->
    </services>

  </system.serviceModel>
  <system.web>
    <compilation  debug="true"/>
    <httpRuntime maxRequestLength="2097151"/>
  </system.web>
</configuration>
